<ion-content padding>

	<ng-container *ngIf="listArray && listArray.length > 0; else noElements">
		<div *ngFor="let list of listArray; let i = index">
			<ion-card style="position: relative;">
				<img [src]=" imageUrl" class="img-meme" />
				<ion-card-content>
					<ion-card-title>
						{{list.title}}
					</ion-card-title>
					<p>
						{{list.description}}
					</p>
					<div style="text-align: right;">
						<ion-button size="small" (click)="editList(i)">Edit</ion-button>
					</div>
				</ion-card-content>
				<div class="delete-button-absolute">
					<ion-button size="small" (click)="deleteList(i)">Delete</ion-button>
				</div>
			</ion-card>
		</div>
	</ng-container>

	<ng-template #noElements>
		<ion-card>
			<img [src]="imageUrlOps" class="img-meme"/>
			<ion-card-header>
				<ion-card-title>Ops...</ion-card-title>
				<ion-card-subtitle>non hai nessuna lista!</ion-card-subtitle>
			</ion-card-header>
			<ion-card-content>
				<p>
					Puoi andare nel Tab di Insert per crearne una nuova!
				</p>
			</ion-card-content>
		</ion-card>
	</ng-template>

</ion-content>